<style>

div::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.1s;
}

.sidenav h3 {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .cart-contents{
    background: white;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.sidenav .button-box{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}



.check-out-button{
    background: white;
    border: white solid;
    border-radius: 20px;
    width: 200px;
    transition: 0.1s;
}

.check-out-button p{
    color: #f1f1f1;
}

.check-out-button:hover{
    background: white;
    opacity: 0.8;
}

.cart-contents .card{
    margin: 2px;
    max-height: 60px;
}

.cart-contents .card-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card-body .name{
    grid-column: 1 / span 2;
}

.card-body .price{
    grid-column: 3;
        justify-self: end;
}

.card-body .remove{
    justify-self: end;
    grid-column: 4;
}



</style>

<!--Cart-->


<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeCart()">x</a>
    <h3 href="#">My Order</h3>



    <div class="cart-contents" id="cart-contents">

        {% for item in cartItems%}
        <div class="card">
            <div class="card-body">
              <p class="name">{{item.name}}</p>
              <p class="price">${{item.price}}</p>
              
              <input type="hidden" value="{{item.id}}" name="itemId">
              <input type="submit" class="remove">x</p>
            </div>
          </div>
        {% endfor %}

    </div>

    <div class="button-box">
        <input type="submit" class="check-out-button" value="Check Out"/>
</div>
 

    
</div>



<script>
    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
  function openCart() {
    document.getElementById("mySidenav").style.width = "300px";
  }
  
  /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
  function closeCart() {
    document.getElementById("mySidenav").style.width = "0";
  }

  function reloadCart(){
    $("#cart-contents").load("/order");
  }

  
  </script>




