<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    
    <!--Start of Nav-->

    <nav id="navbar">
        <div class="logo">
            <a href=#>Ted's Bar and Cafe</a>
        </div>

        <div></div>

        <div>
            <a href=#>About Us</a>
        </div>

        <div>
            <a href=#>Contact</a>
        </div>

        <div>
            <a href=#>Menu</a>
        </div>

        <div>
            <a href=#>Order</a>
        </div>

        <div>
            cart
        </div>
    </nav>
    <!--End of Nav-->



    <!--Start of Landing Page Banner Image-->
    <div class="content">
        <div class="headerBox">
            <h1>When you are home alone and hungry</h1>
        </div>

        <div class="subHeaderBox">
           <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium est architecto delectus</h2>
        </div>
    </div>
    <!--End of Landing Page Banner Image-->


    <!--Start of Circle Images Panel-->
    <div class="circlePanelContent">

        <div class="circleImg1"></div>
        <div class="circleImg2"></div>
        <div class="circleImg3"></div>
        <div class="circleImg4"></div>
        <div class="circleImg5"></div>
        <div class="circleImg6"></div>    

        <h2>Rice</h2>
        <h2>Burger</h2>
        <h2>Fries</h2>
        <h2>Salads</h2>
        <h2>Sandwich</h2>
        <h2>Pizza</h2>
    </div>

    <!--End of Circle Images Panel-->

    <!--Start of Location Panel Content-->

    <div class="locationPanelContent"></div>

    <!--End of Location Panel Conetn-->



</body>

</html>