<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
        <!--Start of Nav-->

        <nav id="navbar">
            <div class="logo">
                <a href=#>Ted's Bar and Cafe</a>
            </div>
    
            <div></div>
    
            <div>
                <a href=#>About Us</a>
            </div>
    
            <div>
                <a href=#>Contact</a>
            </div>
    
            <div>
                <a href=#>Menu</a>
            </div>
    
            <div>
                <a href=#>Order</a>
            </div>
    
            <div>
                <a href=#>Cart</a>
            </div>
        </nav>
        <!--End of Nav-->  

        
    <!--Start of Menu Page Banner Image-->
    <div class="menuBannerGrid">
        <div>

        </div>
    </div>
    <!--End of MenuPage Banner Image-->

    <div class="menuHeader">
        <h1>Menu</h1>
    </div>

    <!--Start of Menus-->
    <div class="menuGrid">
        <div class="foodMenu">

        </div>

        <div class="drinkMenu">

        </div>
    </div>

    <!--End of Menus-->

</body>
</html>